{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'groups/css/groups.css' %}">

    </head>
    <body>
        <h2>{{ group.name }} - Members</h2>

        <div class="members-list">

            <p><strong>Total Members:</strong> {{ members|length }}</p>

            {% for member in members %}
                <div class="member-card">
                    <h4>{{ member.username }}</h4>
                </div>
            {% empty %}
                <p>No members found</p>
            {% endfor %}

        </div>
        </div>

        <a href="{% url 'leave_group' group.id %}" 
        class="leave-btn"
        onclick="return confirm('Are you sure you want to leave this group?');">
        Leave Group
        </a>
        <script src="" async defer></script>
    </body>
</html>