{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'notes/css/public_notes.css' %}">
    </head>
    <body>
        <form method="GET" class="search-form">

            <input type="text" name="q" placeholder="Search notes by title or subject">

            <button type="submit">Search</button>

        </form>
       <div class="notes-container">

            <h2 class="notes-title">Public Notes Library</h2>

            <a href="/notes/upload/" class="upload-btn">Upload Notes</a>

            <div class="notes-list">

            {% for note in notes %}

            <div class="note-card">

            <h3 class="note-title">{{ note.title }}</h3>

            <p class="note-subject">Subject: {{ note.subject }}</p>

            <p class="note-meta">
                Uploaded by: <b>{{ note.uploaded_by.username }}</b>
            </p>

            <p class="note-meta">
                Uploaded on: {{ note.uploaded_at|date:"d M Y" }}
            </p>

            <a href="{% url 'download_note' note.id %}" class="download-btn">Download</a>
            {% if note.uploaded_by == request.user %}
            <a href="{% url 'delete_note' note.id %}" class="delete-btn">Delete</a>
            {% endif %}
            </div>

            {% empty %}

            <p class="no-notes">No notes available.</p>

            {% endfor %}

            </div>

        </div>
        
        <script src="" async defer></script>
    </body>
</html>