{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - StudyHub</title>
    {% comment %} <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'mainapp/css/dashboard.css' %}">
</head>
<body>

<header>
    <div class="container nav-container">
        <div class="logo">StudyHub</div>
        <nav>
            <a href="/">Home</a>
            <a href="{% url 'group_list' %}">Groups</a>
            <a href="/notes/">Notes</a> 
            <a href="{% url 'profile' %}">Profile</a>       
            <a href="/account/login/">Logout</a>
        </nav>
    </div>
</header>

<section class="dashboard">

    <h1>Welcome to Your Dashboard</h1>
    <p>Start learning and collaborating with your study groups.</p>

    <div class="cards">

        <div class="card">
            <h3>My Study Groups</h3>
            <p>View or join study groups.</p>
        </div>

        <div class="card">
            <h3>My Notes</h3>
            <p>Access your shared notes.</p>
        </div>

        <div class="card">
            <h3>Upload Notes</h3>
            <p>Share notes with your group.</p>
        </div>

    </div>

</section>

<div class="dashboard-container">

    <div class="create-group-section">
    <h2>My Study Groups</h2>

    <a href="/groups/create/" class="create-group-btn">Create New Group</a>

    <div>

    <div class="groups-section">

        {% for group in groups %}

        <div class="group-card">
            <a href="{% url 'group_detail' group.id %}"> {{ group.name }}</a>
           
            <p>Subject: {{ group.subject }}</p>
        </div>

        {% empty %}

        <p>You have not joined any groups yet.</p>

        {% endfor %}

    </div>

</div>

<h3>My Notes</h3>

    <div class="dashboard-section">

    {% for note in downloaded_notes %}

    <div class="dashboard-card">
    <h4>{{ note.title }}</h4>
    <p>Subject: {{ note.subject }}</p>

    <p class="note-meta">
        Uploaded by: <b>{{ note.uploaded_by.username }}</b>
    </p>

    <p class="note-meta">
        Uploaded on: {{ note.uploaded_at|date:"d M Y" }}
    </p>

    <a href="{{ note.file.url }}" class="download-btn">preview</a>
    {% if note.uploaded_by == request.user %}
    <a href="{% url 'delete_note' note.id %}" class="delete-btn">Delete</a>
    {% endif %}
    </div>

    {% empty %}

    <p>No downloaded notes yet.</p>

    {% endfor %}

</div>

<footer>
    <p>© 2026 StudyHub Dashboard</p>
</footer>

</body>
</html>