{% load static %}

<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
</head>
<body>

<div class="container">

    <!-- TOP HEADER -->
    <div class="header">
        <h1>Welcome, {{ user.username }} 👋</h1>
    </div>

    <!-- PROFILE CARD -->
    <div class="profile-card">
        {% comment %} <img src="{{ user.profile.image.url }}" class="profile-img"> {% endcomment %}

        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
    </div>

    <!-- STATS SECTION -->
    <div class="stats">

        <!-- GROUPS -->
        <div class="card">
            <h3>Joined Groups</h3>

            {% if joined_groups %}
                <ul>
                    {% for group in joined_groups %}
                        <li>{{ group.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No groups joined</p>
            {% endif %}
        </div>

        <!-- NOTES -->
        <div class="card">
            <h3>Uploaded Notes</h3>

            {% if notes %}
                <ul>
                    {% for note in notes %}
                        <li>{{ note.title }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No notes uploaded</p>
            {% endif %}
        </div>

    </div>

</div>

</body>
</html>