body{
    margin:0;
    font-family: Arial;
}

header {
    background-color: #1e1e2f;
    padding: 15px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 150px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}


.dashboard{
    padding:80px;
    margin: 100px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.card{
    background:#f4f4f4;
    padding:25px;
    width:200px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.create-group-btn{
    display:inline-block;
    background:#3a7bd5;
    color:white;
    padding:10px 18px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
    margin-bottom:20px;
}

.create-group-btn:hover{
    background:#2f66b2;
}

.create-group-section h2{
    text-align: center;
}

.group-card a{
    text-decoration: none;
    color: inherit;
}

.groups-section{
    margin-top:30px;
}

.group-card{
    background:white;
    padding:20px;
    margin-bottom:15px;
    border-radius:8px;
    box-shadow:0px 3px 8px rgba(0,0,0,0.1);
}

.group-card h3{
    margin:0;
    color:#333;
}

.group-card p{
    margin-top:5px;
    color:#666;
}

/* Section Title */
h3 {
    margin-top: 30px;
    font-size: 22px;
    color: #333;
    text-align: center;
}

/* Container */
.dashboard-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}

/* Card Design */
.dashboard-card {
    background: #ffffff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

/* Hover Effect */
.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

/* Note Title */
.dashboard-card h4 {
    margin-bottom: 10px;
    color: #222;
}

/* Subject Text */
.dashboard-card p {
    color: #666;
    font-size: 14px;
}

/* Download Button */
.download-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 8px 14px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

/* Button Hover */
.download-btn:hover {
    background: #388E3C;
}

.delete-btn {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px 12px;
    background: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
    transition: 0.3s;
}

.delete-btn:hover {
    background: #d32f2f;
}

.note-meta {
    font-size: 13px;
    color: #777;
    margin-top: 5px;
}

footer {
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 120px 0;
}