body {
    font-family: Arial;
    background: #f5f5f5;
}

h2{
    background-color: #3a7bd5;
    color: #f5f5f5;
    padding: 15px ;
    
}

.profile-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.profile-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}